#Statistics and trends assignment

In [1]:
#import the relevant libraries
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import the dataset
df = pd.read_csv("Worldbank_data.csv")

In [3]:
df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000,1961.000,1962.000,1963.00,1964.000,1965.0,...,2012.000,2013.00,2014.000,2015.000,2016.000,2017.000,2018.000,2019.000,2020.000,2021.000
4,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761,50.746,50.73,50.715,50.7,...,42.957,42.99,43.041,43.108,43.192,43.293,43.411,43.546,43.697,43.866

In [4]:
#drop the first 3 rows only
df1 =df.iloc[3:]

In [5]:
df1.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000,1961.000000,1962.000000,1963.000000,1964.000000,1965.00000,...,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.00000,2019.000000,2020.000000,2021.000000
4,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.70000,...,42.957000,42.990000,43.041000,43.10800,43.192000,43.293000,43.41100,43.546000,43.697000,43.866000
5,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.00000,...,44059.000000,44351.000000,44666.000000,44978.00000,45293.000000,45614.000000,45949.00000,46294.000000,46654.000000,47022.000000
6,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.54481,...,0.543931,0.660561,0.707733,0.69609,0.697901,0.706219,0.73174,0.748028,0.774631,0.785691
7,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.00000,...,102565.000000,103165.000000,103776.000000,104339.00000,104865.000000,105361.000000,105846.00000,106310.000000,106766.000000,107195.000000

In [6]:
#making the text in row 3 the column header
df1.columns=df.iloc[3]

In [7]:
df1.head()

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000,1961.000000,1962.000000,1963.000000,1964.000000,1965.00000,...,2012.000000,2013.000000,2014.000000,2015.00000,2016.000000,2017.000000,2018.00000,2019.000000,2020.000000,2021.000000
4,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.70000,...,42.957000,42.990000,43.041000,43.10800,43.192000,43.293000,43.41100,43.546000,43.697000,43.866000
5,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.00000,...,44059.000000,44351.000000,44666.000000,44978.00000,45293.000000,45614.000000,45949.00000,46294.000000,46654.000000,47022.000000
6,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.54481,...,0.543931,0.660561,0.707733,0.69609,0.697901,0.706219,0.73174,0.748028,0.774631,0.785691
7,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.00000,...,102565.000000,103165.000000,103776.000000,104339.00000,104865.000000,105361.000000,105846.00000,106310.000000,106766.000000,107195.000000

In [17]:
#drop row 3 in the dataframe
df2 =df1.drop([3])
df2.head()

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,43.866000
5,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.000000,...,44059.000000,44351.000000,44666.000000,44978.000000,45293.000000,45614.000000,45949.000000,46294.000000,46654.000000,47022.000000
6,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.544810,...,0.543931,0.660561,0.707733,0.696090,0.697901,0.706219,0.731740,0.748028,0.774631,0.785691
7,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,...,102565.000000,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000,107195.000000
8,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017,0.401008

In [18]:
#drop indicator code column
df2.drop(["Indicator Code"],axis=1)

3,Country Name,Country Code,Indicator Name,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,Urban population (% of total population),50.776,50.761000,50.746000,50.730000,50.715000,50.700000,50.685000,...,42.957000,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,43.866000
5,Aruba,ABW,Urban population,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.000000,29246.000000,...,44059.000000,44351.000000,44666.000000,44978.000000,45293.000000,45614.000000,45949.000000,46294.000000,46654.000000,47022.000000
6,Aruba,ABW,Urban population growth (annual %),NaN,2.206183,1.404498,0.788835,0.551271,0.544810,0.569216,...,0.543931,0.660561,0.707733,0.696090,0.697901,0.706219,0.731740,0.748028,0.774631,0.785691
7,Aruba,ABW,"Population, total",54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,57702.000000,...,102565.000000,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000,107195.000000
8,Aruba,ABW,Population growth (annual %),NaN,2.236462,1.432843,0.823502,0.580334,0.573498,0.599694,...,0.503385,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017,0.401008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20215,Zimbabwe,ZWE,Rural land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20216,Zimbabwe,ZWE,Rural land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20217,Zimbabwe,ZWE,Arable land (% of land area),NaN,4.872690,5.001939,5.131188,5.260437,5.337986,5.518935,...,10.339925,10.339925,10.339925,10.339925,10.339925,10.339925,10.339925,10.339925,10.339925,NaN
20218,Zimbabwe,ZWE,Agricultural land (% of land area),NaN,28.396019,28.615743,28.835466,29.055189,29.223213,29.494636,...,41.876696,41.876696,41.876696,41.876696,41.876696,41.876696,41.876696,41.876696,41.876696,NaN
20219,Zimbabwe,ZWE,Agricultural land (sq. km),NaN,109850.000000,110700.000000,111550.000000,112400.000000,113050.000000,114100.000000,...,162000.000000,162000.000000,162000.000000,162000.000000,162000.000000,162000.000000,162000.000000,162000.000000,162000.000000,NaN